In [70]:
import pandas as pd
import numpy as np
import requests
import json 
import time

#### 1.Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items

In [86]:
response = requests.get('https://python.zgulde.net/api/v1/items' )
response

In [9]:
print(respone.text)

{"payload":{"items":[{"item_brand":"Riceland","item_id":1,"item_name":"Riceland American Jazmine Rice","item_price":0.84,"item_upc12":"35200264013","item_upc14":"35200264013"},{"item_brand":"Caress","item_id":2,"item_name":"Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct","item_price":6.44,"item_upc12":"11111065925","item_upc14":"11111065925"},{"item_brand":"Earths Best","item_id":3,"item_name":"Earths Best Organic Fruit Yogurt Smoothie Mixed Berry","item_price":2.43,"item_upc12":"23923330139","item_upc14":"23923330139"},{"item_brand":"Boars Head","item_id":4,"item_name":"Boars Head Sliced White American Cheese - 120 Ct","item_price":3.14,"item_upc12":"208528800007","item_upc14":"208528800007"},{"item_brand":"Back To Nature","item_id":5,"item_name":"Back To Nature Gluten Free White Cheddar Rice Thin Crackers","item_price":2.61,"item_upc12":"759283100036","item_upc14":"759283100036"},{"item_brand":"Sally Hansen","item_id":6,"item_name":"Sally Hansen Nail Color Magnetic 903 Silver Elements","item_price":6.93,"item_upc12":"74170388732","item_upc14":"74170388732"},{"item_brand":"Twinings Of London","item_id":7,"item_name":"Twinings Of London Classics Lady Grey Tea - 20 Ct","item_price":9.64,"item_upc12":"70177154004","item_upc14":"70177154004"},{"item_brand":"Lea & Perrins","item_id":8,"item_name":"Lea & Perrins Marinade In-a-bag Cracked Peppercorn","item_price":1.68,"item_upc12":"51600080015","item_upc14":"51600080015"},{"item_brand":"Van De Kamps","item_id":9,"item_name":"Van De Kamps Fillets Beer Battered - 10 Ct","item_price":1.79,"item_upc12":"19600923015","item_upc14":"19600923015"},{"item_brand":"Ahold","item_id":10,"item_name":"Ahold Cocoa Almonds","item_price":3.17,"item_upc12":"688267141676","item_upc14":"688267141676"},{"item_brand":"Honest Tea","item_id":11,"item_name":"Honest Tea Peach White Tea","item_price":3.93,"item_upc12":"657622604842","item_upc14":"657622604842"},{"item_brand":"Mueller","item_id":12,"item_name":"Mueller Sport Care Basic Support Level Medium Elastic Knee Support","item_price":8.4,"item_upc12":"74676640211","item_upc14":"74676640211"},{"item_brand":"Garnier Nutritioniste","item_id":13,"item_name":"Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam","item_price":6.47,"item_upc12":"603084234561","item_upc14":"603084234561"},{"item_brand":"Pamprin","item_id":14,"item_name":"Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief","item_price":7.54,"item_upc12":"41167300121","item_upc14":"41167300121"},{"item_brand":"Suave","item_id":15,"item_name":"Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut","item_price":9.11,"item_upc12":"79400847201","item_upc14":"79400847201"},{"item_brand":"Burts Bees","item_id":16,"item_name":"Burts Bees Daily Moisturizing Cream Sensitive","item_price":5.17,"item_upc12":"792850014008","item_upc14":"792850014008"},{"item_brand":"Ducal","item_id":17,"item_name":"Ducal Refried Red Beans","item_price":1.16,"item_upc12":"88313590791","item_upc14":"88313590791"},{"item_brand":"Scotch","item_id":18,"item_name":"Scotch Removable Clear Mounting Squares - 35 Ct","item_price":4.39,"item_upc12":"21200725340","item_upc14":"21200725340"},{"item_brand":"Careone","item_id":19,"item_name":"Careone Family Comb Set - 8 Ct","item_price":0.74,"item_upc12":"41520035646","item_upc14":"41520035646"},{"item_brand":"Usda Produce","item_id":20,"item_name":"Plums Black","item_price":5.62,"item_upc12":"204040000000","item_upc14":"204040000000"}],"max_page":3,"next_page":"/api/v1/items?page=2","page":1,"previous_page":null},"status":"ok"}

In [87]:

response = requests.get('https://python.zgulde.net/api/v1/items' )
response
data = response.json()
data

{'payload': {'items': [{'item_brand': 'Riceland',
    'item_id': 1,
    'item_name': 'Riceland American Jazmine Rice',
    'item_price': 0.84,
    'item_upc12': '35200264013',
    'item_upc14': '35200264013'},
   {'item_brand': 'Caress',
    'item_id': 2,
    'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
    'item_price': 6.44,
    'item_upc12': '11111065925',
    'item_upc14': '11111065925'},
   {'item_brand': 'Earths Best',
    'item_id': 3,
    'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry',
    'item_price': 2.43,
    'item_upc12': '23923330139',
    'item_upc14': '23923330139'},
   {'item_brand': 'Boars Head',
    'item_id': 4,
    'item_name': 'Boars Head Sliced White American Cheese - 120 Ct',
    'item_price': 3.14,
    'item_upc12': '208528800007',
    'item_upc14': '208528800007'},
   {'item_brand': 'Back To Nature',
    'item_id': 5,
    'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers',
    'item_price': 2.61,
    'item_upc12': '759283100036',
    'item_upc14': '759283100036'},
   {'item_brand': 'Sally Hansen',
    'item_id': 6,
    'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements',
    'item_price': 6.93,
    'item_upc12': '74170388732',
    'item_upc14': '74170388732'},
   {'item_brand': 'Twinings Of London',
    'item_id': 7,
    'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct',
    'item_price': 9.64,
    'item_upc12': '70177154004',
    'item_upc14': '70177154004'},
   {'item_brand': 'Lea & Perrins',
    'item_id': 8,
    'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn',
    'item_price': 1.68,
    'item_upc12': '51600080015',
    'item_upc14': '51600080015'},
   {'item_brand': 'Van De Kamps',
    'item_id': 9,
    'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct',
    'item_price': 1.79,
    'item_upc12': '19600923015',
    'item_upc14': '19600923015'},
   {'item_brand': 'Ahold',
    'item_id': 10,
    'item_name': 'Ahold Cocoa Almonds',
    'item_price': 3.17,
    'item_upc12': '688267141676',
    'item_upc14': '688267141676'},
   {'item_brand': 'Honest Tea',
    'item_id': 11,
    'item_name': 'Honest Tea Peach White Tea',
    'item_price': 3.93,
    'item_upc12': '657622604842',
    'item_upc14': '657622604842'},
   {'item_brand': 'Mueller',
    'item_id': 12,
    'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support',
    'item_price': 8.4,
    'item_upc12': '74676640211',
    'item_upc14': '74676640211'},
   {'item_brand': 'Garnier Nutritioniste',
    'item_id': 13,
    'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam',
    'item_price': 6.47,
    'item_upc12': '603084234561',
    'item_upc14': '603084234561'},
   {'item_brand': 'Pamprin',
    'item_id': 14,
    'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief',
    'item_price': 7.54,
    'item_upc12': '41167300121',
    'item_upc14': '41167300121'},
   {'item_brand': 'Suave',
    'item_id': 15,
    'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut',
    'item_price': 9.11,
    'item_upc12': '79400847201',
    'item_upc14': '79400847201'},
   {'item_brand': 'Burts Bees',
    'item_id': 16,
    'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive',
    'item_price': 5.17,
    'item_upc12': '792850014008',
    'item_upc14': '792850014008'},
   {'item_brand': 'Ducal',
    'item_id': 17,
    'item_name': 'Ducal Refried Red Beans',
    'item_price': 1.16,
    'item_upc12': '88313590791',
    'item_upc14': '88313590791'},
   {'item_brand': 'Scotch',
    'item_id': 18,
    'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct',
    'item_price': 4.39,
    'item_upc12': '21200725340',
    'item_upc14': '21200725340'},
   {'item_brand': 'Careone',
    'item_id': 19,
    'item_name': 'Careone Family Comb Set - 8 Ct',
    'item_price': 0.74,
    'item_upc12': '41520035646',
    'item_upc14': '41520035646'},
   {'item_brand': 'Usda Produce',
    'item_id': 20,
    'item_name': 'Plums Black',
    'item_price': 5.62,
    'item_upc12': '204040000000',
    'item_upc14': '204040000000'}],
  'max_page': 3,
  'next_page': '/api/v1/items?page=2',
  'page': 1,
  'previous_page': None},
 'status': 'ok'}

In [88]:
data.keys()

dict_keys(['payload', 'status'])

In [89]:
data["payload"].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [90]:
# interacting with the data frame
items_df = pd.DataFrame(data['payload']['items'])
items_df.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

#### 2. Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

In [93]:
#code to request data from a site
response = requests.get("https://python.zgulde.net/api/v1/stores")
data = response.json()
stores_df = pd.DataFrame(data['payload']['stores'])
stores_df.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

#### 3. Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [42]:
response = requests.get("https://python.zgulde.net/api/v1/sales")
data = response.json()
sales = pd.DataFrame(data['payload']['sales'])
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   item         5000 non-null   int64
 1   sale_amount  5000 non-null   float64
 2   sale_date    5000 non-null   object
 3   sale_id      5000 non-null   int64
 4   store        5000 non-null   int64
dtypes: float64(1), int64(3), object(1)
memory usage: 195.4+ KB

In [58]:
sales

      item  sale_amount                      sale_date  sale_id  store
0        1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1        1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2        1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3        1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4        1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1
...    ...          ...                            ...      ...    ...
4995     1         23.0  Mon, 05 Sep 2016 00:00:00 GMT     4996      3
4996     1         22.0  Tue, 06 Sep 2016 00:00:00 GMT     4997      3
4997     1         21.0  Wed, 07 Sep 2016 00:00:00 GMT     4998      3
4998     1         22.0  Thu, 08 Sep 2016 00:00:00 GMT     4999      3
4999     1         24.0  Fri, 09 Sep 2016 00:00:00 GMT     5000      3

[5000 rows x 5 columns]

In [61]:
# setup
url = 'https://api.data.codeup.com'
response = requests.get(url)
response.json()

{'api': '/api/v1', 'help': '/documentation'}

In [62]:
url = 'https://api.data.codeup.com' + '/documentation'
response = requests.get(url)
response.json()

{'payload': '\nThe API accepts GET requests for all endpoints, where endpoints are prefixed\nwith\n\n    /api/{version}\n\nWhere version is "v1"\n\nValid endpoints:\n\n- /stores[/{store_id}]\n- /items[/{item_id}]\n- /sales[/{sale_id}]\n\nAll endpoints accept a `page` parameter that can be used to navigate through\nthe results.\n',
 'status': 'ok'}

In [83]:
# setup


# items = []
# # setup
# url = 'https://api.data.codeup.com'
# response = requests.get(url)
# response.json()
# url = 'https://api.data.codeup.com' + '/documentation'
# response = requests.get(url)
# response.json()
# data = response.json()['payload']['sales']
# items.extend(data['payload']['sales'])
# # # update the endpoint
# # endpoint = data['payload']['next_page']

In [66]:
domain = 'https://api.data.codeup.com'
endpoint = '/api/v1/sales'
sales = []

# For each page -- until next page is None
url = domain + endpoint
response = requests.get(url)
data = response.json()
sales.extend(data['payload']['sales'])
# update the endpoint
endpoint = data['payload']['next_page']

In [68]:
sales1 = pd.DataFrame(data['payload']['sales'])
sales1

      item  sale_amount                      sale_date  sale_id  store
0        1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1        1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2        1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3        1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4        1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1
...    ...          ...                            ...      ...    ...
4995     1         23.0  Mon, 05 Sep 2016 00:00:00 GMT     4996      3
4996     1         22.0  Tue, 06 Sep 2016 00:00:00 GMT     4997      3
4997     1         21.0  Wed, 07 Sep 2016 00:00:00 GMT     4998      3
4998     1         22.0  Thu, 08 Sep 2016 00:00:00 GMT     4999      3
4999     1         24.0  Fri, 09 Sep 2016 00:00:00 GMT     5000      3

[5000 rows x 5 columns]

In [77]:
sales1.to_csv("sales.csv",index=0)

In [82]:
sales_df = pd.read_csv("sales.csv")

In [96]:
def get_store_data_from_api():
    response = requests.get('https://api.data.codeup.com/api/v1/stores')
    data = response.json()
    stores = pd.DataFrame(data['payload']['stores'])
    stores = pd.DataFrame(stores)
    return stores

In [111]:
### this code loops through pages of an api and produces a data frame 
#KEEP IN MIND WHILE LOOP IS INVOLVED.... REMEMBER BREAKER
def get_sales_data_from_api():
    domain = 'https://api.data.codeup.com'
    endpoint = '/api/v1/sales'
    sales = []
    while True:
        url = domain + endpoint
        response = requests.get(url)
        data = response.json()
        print(f'\rGetting page {data["payload"]["page"]} of {data["payload"]["max_page"]}: {url}', end='')
        sales.extend(data['payload']['sales'])
        endpoint = data['payload']['next_page']
        if endpoint is None:
            break
    sales = pd.DataFrame(sales)
    sales.to_csv('sales.csv', index=False)
    return sales

In [110]:
sales1 = pd.read_csv('sales.csv')
sales1.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1